.container {
  margin: auto;
  width: 50vw;
  padding: 5vh 5vw;
  border-radius: 15px;
  background: #CBFBD1;
}
#text {
  font-size: 1.5em;
}
#author {
  text-align: right;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
button, a {
  background: #20171F;
  color: #CBFBD1;
}